# Logs
logs
*.scss.json
*.log

# Coverage directory used by tools like istanbul
coverage


# Dependency directories
node_modules
package-lock.json


# Optional npm cache directory
.npm


# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

dist

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

