.content {
  min-width: 100px;
  width: -webkit-fill-available;
  max-width: 1200px;
  overflow: auto;

  /* TITLES And Paragraphs */
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0.5rem 0;
    width: 100%;
    text-wrap: pretty;
  }

  & h1 {
    font-size: 2rem;
    color: var(--color-primary);
    border-bottom: 0.5px solid var(--color-text-alt);
  }

  & h2 {
    font-size: 2rem;
  }

  & h3 {
    font-size: 1.5rem;
  }

  & h4,
  h5,
  h6 {
    font-size: 1.25rem;
  }

  & p {
    text-wrap: balance;
  }

  /* Lists */
  & ul,
  ol {
    margin: 0.5rem 0;
  }

  /* Blockquote */
  & blockquote {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-left: 0.1875rem solid var(--color-text-alt);
    color: var(--color-text-alt);

    & p {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
    }
  }

  & p:has(img) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    /* images */
    & img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  & p {
    & code {
      padding: 2px 4px;
      white-space: nowrap;
      background: var(--color-bg);
      border-radius: 4px;
      font-size: 90%;
      color: var(--color-primary);
    }

    & em {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-style: italic;
    }

    & strong {
      font-weight: bold;
    }

    & a {
      color: var(--color-primary);
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        color: var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
      }
      &:has(> img) {
        border: 1px solid transparent;

        &:hover {
          border: 1px solid var(--color-primary);
        }
      }
    }
  }

  /* Tables */
  & table {
    border: 1px solid red;
    overflow: auto;
    width: max-content;
    border-collapse: collapse;
    margin: 0.5rem 0;

    & th,
    td {
      border: 1px solid var(--color-text-alt);
      padding: 0.5rem;
      text-align: left;
      &[align="right"] {
        text-align: right;
      }

      &[align="center"] {
        text-align: center;
      }
    }

    & th {
      background-color: var(--color-content);
    }
  }

  /* TabsList */
  & > ul:has(> li > input) {
    --input-dimension: 1.125rem;
    all: unset;

    & li {
      all: unset;
      display: flex;
      align-items: center;

      & input:disabled {
        all: unset;
        position: relative;
        top: 1px;
        width: var(--input-dimension);
        height: var(--input-dimension);
        border: 1px solid var(--color-text-alt);
        border-radius: var(--p-1);
        margin: 0.125rem 0.5rem 0.125rem 0;

        &:checked {
          background: var(--color-primary);
          border-color: transparent;

          &:after {
            content: "";
            position: absolute;
            height: calc(var(--input-dimension) / 3);
            width: calc(var(--input-dimension) / 6);
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}
