/*
** THIS IS A SHARED STYLE FILE **
<div className={style.aside}>
  <x-title>Aside</x-title>
  <ul>
    <li>
      <button>Link</button>
      or
      <a href="#">Link</a>
    </li>
  </ul>
</div>
*/

.aside {
  width: 300px;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: auto;
  height: min-content;
  max-height: 100%;
  & x-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & ul {
    all: unset;
    display: flex;
    flex-direction: column;

    & li {
      all: unset;
      display: flex;

      & button,
      & a {
        all: unset;
        width: 100%;
        padding: .5rem;
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
          color: var(--color-primary);
        }

        &.active {
          color: var(--color-primary);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .aside {
    display: none;

    &--active {
      display: block;
      position: absolute;
      padding: var(--p-2);
      background-color: var(--color-text);
      border-radius: var(--p-1);
      box-shadow: var(--shadow-1);
      color: var(--color-bg);
      top: 6rem;
      left: 0;
    }
  }


}
.space {
  &__1 {
    margin-left: 1rem !important;
  }

  ;

  &__2 {
    margin-left: 2rem !important;
  }
}