.inThisArticle {
  all: unset;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: auto;
  height: min-content;
  max-height: 100%;

  & x-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & a {
    all: unset;
    display: flex;
    align-items: center;
    padding: .5rem;
    border: none;
    background: none;
    cursor: pointer;
    border-left: 1px solid transparent;
    &:hover {
      color: var(--color-primary);
        border-left: 1px solid var(--color-primary);
    }

    &.active {
      color: var(--color-primary);
        border-left: 1px solid var(--color-primary);
    }
  }
}

.space {
  &__1 {
    padding-left: 1rem !important;
  }
}